



<h1>Pages#elements</h1>
<p>Used t demonstrate exmples of how to do Form Formatting in teh erb</p>


<a href="#" class="btn btn-highlight">Portfolio</a>
<a href="#" class="btn btn-highlight">Add Transaction</a>
<a href="#" class="btn btn-nav">Wallet</a>
<a href="#" class="btn btn-nav">Transaction</a>

          <div class="input-group d-flex flex-nowrap ms-2 me-4 mt-4"  style="max-width: 350px; min-width: 200px;">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control" placeholder="Search Wallets & Coins" aria-label="Username" aria-describedby="basic-addon1">
          </div>

<%= simple_form_for :search, html: { class: "search mt-4 " }  do |f| %>
  <%= f.input :username, label: "Email", placeholder: 'user@domain.com', required: true %>
  <%= f.input :password, label: "Password", hint: 'No special characters.', required: true %>
  <%= f.input :description, label: "Text Area", as: :text %>
  <%= f.button :submit, class:"btn btn-nav active"%>
  <%= f.button :submit, class:"btn btn-hightlight"%>

  <%= f.submit "Save", class:"btn btn-nav active"%>

  <%= f.input :coin1Price, label: "Price", required: true %>
  <%= f.input :coin, collection: [['BTC','1'], ['ETH','2']], selected: '1', prompt: "Coin"%>

  <%= f.input :remember_me, label: "Text Area", as: :boolean %>

  <p>Example of Input with no Label, with placeholder</p>
  <%= f.input :search, placeholder: "Search", label_html: { class: 'd-none' } %>

  <%= f.input :remember_me,
            label: "Disabled",
            as: :boolean,
            input_html: {
                        disabled: true,
                        class: ''
                      } %>
<% end %>
