<body>
    <div class="text-container">
        <h1 class="headline" outline: none; display: flex; flex-direction: column; justify-content: flex-start; flex-shrink: 0; transform: none;>Your All-in-One Crypto Command Center.</h1>
        <p class="subtext" outline: none; display: flex; flex-direction: column; justify-content: flex-start; flex-shrink: 0; transform: none;>Automate your financial operations, gain real-time insights, and focus on growth in Crypto.</p>

        <div class="email-input">
            <input type="text" placeholder="Enter your email...">
            <button class="get-started">Get Started</button>
        </div>

        <div class="features">
            <div>No credit card required</div>
            <div>7-days free trial</div>
        </div>

        <div class="testimonial">
            <div class="avatars">
              <%= image_tag "landing-page/protrait_1.png", alt: "A profile photo", class: "avatar" %>
              <%= image_tag "landing-page/protrait_2.png", alt: "A profile photo", class: "avatar" %>
              <%= image_tag "landing-page/protrait_3.png", alt: "A profile photo", class: "avatar" %>
              <%= image_tag "landing-page/protrait_4.png", alt: "A profile photo", class: "avatar" %>
            </div>

              <div class="stars">
                <% 5.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
              </div>
              <p>Loved by 30k+ happy customers</p>

        </div>
        <div class="image-container">
            <!-- <img src="https://placehold.co/382x375" alt="Feature Image"> -->
           <%= image_tag "landing-page/portfolio.png", alt: "Portfolio image", class: "head-image" %>
        </div>
      </div>


    <!-- Card Section -->

 <section id="features" class="feature-section py-5">
  <div class="container">
    <div class="text-center mb-5">
      <h3 class="headline-h3">Our Features</h3>
      <p class="subtext">Automate your financial operations, gain real-time insights, and focus on growth in Crypto.</p>
    </div>

    <div class="feature-cards">
      <!-- Card 1 -->
      <div class="card-outer-box">
        <div class="card-content">
          <div class="card-inner">
            <div class="card-tag">Exclusive Feature</div>
            <h5 class="headline-h5">Powerful Tools to Grow Your Business</h5>
            <p class="description">Create dynamic budgets with predictive insights and scenario planning to help you manage future cash flows.</p>

            <div class="feature-list">
              <div class="feature-item">
                <span class="feature-icon">✓</span>
                <span class="feature-text">Establish a Clear Revenue Model</span>
              </div>
              <div class="feature-item">
                <span class="feature-icon">✓</span>
                <span class="feature-text">Diversify Income Streams</span>
              </div>
            </div>

            <button class="pricing-get-started-recommended">Explore More</button>
          </div>
        </div>

        <div class="card-img-wrapper">
          <%= image_tag "landing-page/Feature-card.png", alt: "Feature-card image", class: "card-img" %>
        </div>
      </div>

      <!-- Card 2 (Reversed) -->
      <div class="card-outer-box reverse">
        <div class="card-content">
          <div class="card-inner">
            <div class="card-tag">Exclusive Feature</div>
            <h5 class="headline-h5">Make Strategies for Financial Growth</h5>
            <p class="description">Create dynamic budgets with predictive insights and scenario planning to optimize financial health.</p>

            <div class="feature-list">
              <div class="feature-item">
                <span class="feature-icon">✓</span>
                <span class="feature-text">Establish a Clear Revenue Model</span>
              </div>
              <div class="feature-item">
                <span class="feature-icon">✓</span>
                <span class="feature-text">Diversify Income Streams</span>
              </div>
            </div>

            <button class="pricing-get-started-recommended">Explore More</button>
          </div>
        </div>

        <div class="card-img-wrapper">
          <%= image_tag "landing-page/feature-card-2.png", alt: "Feature-card image", class: "card-img" %>
        </div>
      </div>
    </div>
  </div>
</section>

             <!-- G -->
            <div class="card text-center" style="margin: 80px;">
              <div class="card-header">
                Featured
              </div>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">Stop writer's block and generate fresh content ideas with
our AI assistant. Take your content to next level!</p>
                <button class="pricing-get-started">Get Demo</button>
              </div>
              <div class="card-footer text-body-secondary">
                Try first 7 days free
              </div>
            </div>

          <!-- Pricing -->
        <div id="pricing" class="pricing-container text-center" style="padding: 40px; max-width: 1200px; margin: 0 auto;">
    <h3 class="headline-h3">Pricing</h3>
    <p class="subtext">We have actually analyse the business need, and created a pricing that suits you.</p>

    <div class="pricing-cards row justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
             <div class="pricing-card-list text-white" style="min-width: 360px; height: 360px; border: 0.5px solid rgb(149, 145, 151); border-radius: 16px; padding: 20px;">
                <div class="card-body">
                    <h5 class="card-title">Starter</h5>
                    <p class="card-text">$4.95 / One-time</p>
                    <ul class="list-unstyled">
                        <li>✔ Unlimited updates</li>
                        <li>✔ Custom permissions</li>
                        <li>✔ Custom infrastructure</li>
                    </ul>
                    <button class="pricing-get-started">Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
             <div class="pricing-card-list text-white" style="min-width: 360px; height: 360px; border: 1px solid #AF53FF; border-radius: 16px; padding: 20px; background-color:rgba(175, 83, 255, 0.06);">
                <div class="card-footer bg-transparent text-body-secondary">Recommended</div>
                <div class="card-body">
                    <h5 class="card-title">Core</h5>
                    <p class="card-text">$9.95 / Month</p>
                    <ul class="list-unstyled">
                        <li>✔ Unlimited updates</li>
                        <li>✔ Custom permissions</li>
                        <li>✔ Custom infrastructure</li>
                    </ul>
                    <button class="pricing-get-started-recommended">Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
             <div class="pricing-card-list text-white" style="min-width: 360px; height: 360px; border: 0.5px solid rgb(149, 145, 151); border-radius: 16px; padding: 20px;">
                <div class="card-body">
                    <h5 class="card-title">Enterprise</h5>
                    <p class="card-text">$30.5 / Month</p>
                    <ul class="list-unstyled">
                        <li>✔ Unlimited updates</li>
                        <li>✔ Custom permissions</li>
                        <li>✔ Custom infrastructure</li>
                        <li>✔ Unlimited products</li>
                    </ul>
                    <button class="pricing-get-started">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>




    <!-- Footer -->



</body>
