



<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


      <a href="#" class="btn btn-highlight active">Portfolio</a>
      <a href="#" class="btn btn-highlight">Coin</a>
      <a href="#" class="btn btn-nav">Wallet</a>
      <a href="#" class="btn btn-nav">Transaction</a>



<%= simple_form_for :search, url: "#", method: :get do |f| %>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
    <%= f.input_field :search, placeholder: "Search" %>
  </div>
<% end %>


<%= simple_form_for :search do |f| %>
  <%= f.input :username, label: "Email", placeholder: 'user@domain.com', required: true %>
  <%= f.input :password, label: "Password", hint: 'No special characters.', required: true %>
  <%= f.input :description, label: "Text Area", as: :text %>
  <%= f.button :submit, class:"btn btn-nav active"%>
  <%= f.button :submit, class:"btn btn-hightlight"%>

  <%= f.submit "Save", class:"btn btn-nav active"%>

  <%= f.input :coin1Price, label: "Price", required: true %>
  <%= f.input :coin, collection: [['BTC','1'], ['ETH','2']], selected: '1', prompt: "Coin"%>

  <%= f.input :remember_me, label: "Text Area", as: :boolean %>
  <%= f.input :remember_me,
            label: "Disabled",
            as: :boolean,
            input_html: {
                        disabled: true,
                        class: ''
                      } %>
<% end %>


btn-highlight
