<div class="container py-5">


  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="display-4"><%= @wallet.name %></h1>
    <div>
          <%= link_to wallets_path, class: "btn btn-nav" do %>
            <i class="bi bi-arrow-left"></i> All Wallets
          <% end %>

          <% if @wallet.transactions.empty? %>
            <%= link_to wallet_path(@wallet),
                        data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this wallet?' },
                        class: 'btn btn-nav' do %>
                <i class="fa-solid fa-trash" style="color:rgb(147, 147, 147);"></i>
            <% end %>
          <% end %>

          <%= link_to wallet_path(@wallet),
                      data: { bs_toggle: "modal", bs_target: "#editWalletModal#{ @wallet.id}" },
                      class: 'btn btn-highlight' do %>
              Edit
          <% end %>
    </div>
  </div>

  <%= render 'shared/panel', locals: {
      title: "Wallet Details",
      panel: "box-4"
    } do %>
    <div class="table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Address</th>
            <th>Holdings</th>
            <th>Transactions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="compact-transactions m-2 py-6 tx-row p-3 rounded-5 mb-1">
            <td><%= @wallet.name %></td>
            <td><%= @wallet.wallet_type.capitalize %></td>
            <td><code><%= @wallet.wallet_address %></code></td>
            <td>$<%= number_with_precision(@wallet.total_value, precision: 2) %></td>
            <td><%= @wallet.transactions.count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <%= render 'transactions/transactions_index', transactions: @transactions %>


<!-- Edit Wallet Modal -->
<%= render 'edit_modal', wallet: @wallet %>
