<div class="modal fade" id="newTransactionModal" tabindex="-1" aria-labelledby="newTransactionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTransactionModalLabel">New Transaction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with(model: @transaction || Transaction.new, url: transactions_path, local: true, data: { controller: "transaction-form" }) do |f| %>
        <div class="modal-body">
          <!-- Required Fields (Transaction Type and Date) -->
          <div class="row">
            <div class="col-md-6 mb-3">
              <%= f.label :transaction_type, "Transaction Type", class: "form-label" %>
              <%= f.select :transaction_type, Transaction.transaction_types.keys.map { |type| [type.capitalize, type] }, {},
                          class: "form-select",
                          data: { action: "change->transaction-form#updateFields", "transaction-form-target": "typeField" } %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.label :date, "Date", class: "form-label" %>
              <%= f.datetime_local_field :date, value: Time.current.strftime('%Y-%m-%dT%H:%M'), class: "form-control" %>            </div>
          </div>

          <!-- Independent Fields -->
          <div class="row">
            <!-- Coin In Field -->
            <div class="col-md-6 mb-3 d-none" data-transaction-form-target="coinInField">
              <%= f.label :coin_id, "Coin In", class: "form-label" %>
              <%= f.collection_select :coin_id, Coin.all, :id, :name, {}, class: "form-select" %>
            </div>

            <!-- Coin Out Field -->
            <div class="col-md-6 mb-3 d-none" data-transaction-form-target="coinOutField">
              <%= f.label :to_coin_id, "Coin Out", class: "form-label" %>
              <%= f.collection_select :to_coin_id, Coin.all, :id, :name, { include_blank: true }, class: "form-select" %>
            </div>

            <!-- Receiving Wallet Field -->
            <div class="col-md-6 mb-3 d-none" data-transaction-form-target="receivingWalletField">
              <%= f.label :wallet_id, "Receiving Wallet", class: "form-label" %>
              <%= f.collection_select :wallet_id, current_user.wallets, :id, :name, {}, class: "form-select" %>
            </div>

            <!-- Sending Wallet Field -->
            <div class="col-md-6 mb-3 d-none" data-transaction-form-target="sendingWalletField">
              <%= f.label :to_wallet_id, "Sending Wallet", class: "form-label" %>
              <%= f.collection_select :to_wallet_id, current_user.wallets, :id, :name, { include_blank: true }, class: "form-select" %>
            </div>

            <!-- Order Value Field -->
            <div class="col-md-6 mb-3 d-none" data-transaction-form-target="orderValueField">
              <%= f.label :total_value, "Order Value", class: "form-label" %>
              <%= f.number_field :total_value, step: :any, class: "form-control" %>
            </div>

            <!-- Quantity In Field -->
            <div class="col-md-6 mb-3 d-none" data-transaction-form-target="quantityInField">
              <%= f.label :quantity, "Quantity In", class: "form-label" %>
              <%= f.number_field :quantity, step: :any, class: "form-control" %>
            </div>

            <!-- Quantity Out Field -->
            <div class="col-md-6 mb-3 d-none" data-transaction-form-target="quantityOutField">
              <%= f.label :to_quantity, "Quantity Out", class: "form-label" %>
              <%= f.number_field :to_quantity, step: :any, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <%= f.submit "Create Transaction", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
